sovren.com/hr-xml/2006-02-28/SovrenResumeExtensions.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright © 1996-2012 Sovren Group, Inc. All rights reserved.
Confidential, proprietary, and not for duplication, distribution or publication by anyone
for any purpose without prior written permission of Sovren Group, Inc.
-->
<xs:schema
	attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://sovren.com/hr-xml/2006-02-28"
	xmlns:tns="http://sovren.com/hr-xml/2006-02-28"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:hrxml="http://ns.hr-xml.org/2006-02-28">

	<xs:annotation>
		<xs:documentation>This schema describes the Sovren extensions that are optionally output within the UserArea element of the HR-XML 2.4 Schema.</xs:documentation>
		<xs:documentation>This is the schema for Sovren Resume Parser version 6.0.</xs:documentation>
	</xs:annotation>

	<xs:import namespace="http://ns.hr-xml.org/2006-02-28" schemaLocation="resume.xsd"/>

	<xs:simpleType name="CurrencyType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z][A-Z][A-Z]"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="MoneyType">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="currency" type="tns:CurrencyType" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="YesNoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="BulletsType">
		<xs:sequence>
			<xs:element name="Bullet" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="type" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="sentence"/>
										<xs:enumeration value="creativeTerm"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--
	   EducationHistory/SchoolOrInstitution/Degree/UserArea
	-->
	<xs:element name="DegreeUserArea">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:string" minOccurs="0" />
				<xs:element name="Graduated" type="xs:boolean" minOccurs="0"/>
				<xs:element name="NormalizedGPA" type="xs:decimal" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--
	   EmploymentHistory/EmployerOrg/PositionHistory/UserArea
	-->
	<xs:element name="PositionHistoryUserArea">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:string" minOccurs="0" />
				<xs:element name="CompanyNameProbability" type="xs:int" minOccurs="0" />
				<xs:element name="PositionTitleProbability" type="xs:int" minOccurs="0" />
				<xs:element name="OffsetOfFarthestDataFound" type="xs:int" minOccurs="0"/>
				<xs:element name="IsSelfEmployed" type="xs:boolean" minOccurs="0" />
				<xs:element name="SelfEmploymentPhrase" type="xs:string" minOccurs="0"/>
				<xs:element name="NumberOfEmployeesSupervised" type="xs:int" minOccurs="0"/>
				<xs:element name="Bullets" type="tns:BulletsType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="CultureType">
		<xs:sequence>
			<xs:element name="Language" minOccurs="0">
				<!-- ISO 639-1 2-letter language code -->
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[a-z][a-z]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Country" minOccurs="0">
				<!-- ISO-3166 2-letter country code -->
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[A-Z][A-Z]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CultureInfo" minOccurs="0">
				<!-- RFC 1766 -->
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[a-zA-Z]{2}(-[a-zA-Z]{1,8})+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--
	   Complex types defined for Resume/UserArea
	-->
	<xs:attributeGroup name="Inferred">
		<xs:attribute name="inferred" type="xs:boolean" use="optional" />
	</xs:attributeGroup>
	<xs:complexType name="DateOfBirthType">
		<xs:simpleContent>
			<xs:extension base="xs:date">
				<xs:attributeGroup ref="tns:Inferred" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NationalityType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="tns:Inferred" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NationalIdentityType">
		<xs:sequence>
			<xs:element name="NationalIdentityNumber" type="xs:string" minOccurs="0" />
			<xs:element name="NationalIdentityPhrase" type="xs:string" minOccurs="0" />
			<xs:element name="NationalIdentityType" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="GenderEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Male"/>
			<xs:enumeration value="Female"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GenderType">
		<xs:simpleContent>
			<xs:extension base="tns:GenderEnum">
				<xs:attributeGroup ref="tns:Inferred" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="MaritalStatusEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Married"/>
			<xs:enumeration value="Single"/>
			<xs:enumeration value="Divorced"/>
			<xs:enumeration value="Separated"/>
			<xs:enumeration value="CivilUnion"/>
			<xs:enumeration value="Cohabitating"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MaritalStatusType">
		<xs:simpleContent>
			<xs:extension base="tns:MaritalStatusEnum">
				<xs:attributeGroup ref="tns:Inferred" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrentManagementLevelEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="low-or-no-level"/>
			<xs:enumeration value="low-level"/>
			<xs:enumeration value="mid-level"/>
			<xs:enumeration value="somewhat high-level"/>
			<xs:enumeration value="high-level"/>
			<xs:enumeration value="executive-level"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrentManagementLevelType">
		<xs:simpleContent>
			<xs:extension base="tns:CurrentManagementLevelEnum" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ExecutiveTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="executive"/>
			<xs:enumeration value="admin"/>
			<xs:enumeration value="accounting"/>
			<xs:enumeration value="operations"/>
			<xs:enumeration value="financial"/>
			<xs:enumeration value="marketing"/>
			<xs:enumeration value="business_dev"/>
			<xs:enumeration value="it"/>
			<xs:enumeration value="general"/>
			<xs:enumeration value="learning"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ExecutiveTypeType">
		<xs:simpleContent>
			<xs:extension base="tns:ExecutiveTypeEnum" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="TrainingHistoryTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Unknown"/>
			<xs:enumeration value="Professional"/>
			<xs:enumeration value="Vocational"/>
			<xs:enumeration value="Personal"/>
			<xs:enumeration value="LowerCraft"/>
			<xs:enumeration value="MiddleCraft"/>
			<xs:enumeration value="HigherCraft"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TrainingHistoryTypeType">
		<xs:simpleContent>
			<xs:extension base="tns:TrainingHistoryTypeEnum" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TrainingType">
		<xs:sequence>
			<xs:element name="Type" type="tns:TrainingHistoryTypeType" minOccurs="0" />
			<xs:element name="TrainingName" type="xs:string" minOccurs="0"/>
			<xs:element name="Qualifications" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Qualification" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Entity" type="xs:string" minOccurs="0" />
			<xs:element name="Description" type="xs:string" minOccurs="0" />
			<xs:element name="StartDate" type="hrxml:FlexibleDatesType" minOccurs="0" />
			<xs:element name="EndDate" type="hrxml:FlexibleDatesType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--
	   Resume/UserArea
	-->
	<xs:element name="ResumeUserArea">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Culture" type="tns:CultureType" minOccurs="0" />
				<xs:element name="PersonalInformation" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DateOfBirth" type="tns:DateOfBirthType" minOccurs="0"/>
							<xs:element name="Birthplace" type="xs:string" minOccurs="0"/>
							<xs:element name="Nationality" type="tns:NationalityType" minOccurs="0"/>
							<xs:element name="NationalIdentities" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NationalIdentity" type="tns:NationalIdentityType" minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Gender" type="tns:GenderType" minOccurs="0"/>
							<xs:element name="MaritalStatus" type="tns:MaritalStatusType" minOccurs="0"/>
							<xs:element name="DrivingLicense" type="xs:string" minOccurs="0" />
							<xs:element name="CurrentLocation" type="xs:string" minOccurs="0" />
							<xs:element name="PreferredLocation" type="xs:string" minOccurs="0" />
							<xs:element name="WillingToRelocate" type="tns:YesNoType" minOccurs="0" />
							<xs:element name="FamilyComposition" type="xs:string" minOccurs="0" />
							<xs:element name="FathersName" type="xs:string" minOccurs="0" />
							<xs:element name="MothersMaidenName" type="xs:string" minOccurs="0" />
							<xs:element name="VisaStatus" type="xs:string" minOccurs="0" />
							<xs:element name="PassportNumber" type="xs:string" minOccurs="0" />
							<xs:element name="CurrentSalary" type="tns:MoneyType" minOccurs="0" />
							<xs:element name="RequiredSalary" type="tns:MoneyType" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ExperienceSummary">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Description" type="xs:string" minOccurs="0" />
							<xs:element name="MonthsOfWorkExperience" type="xs:int" minOccurs="0" />
							<xs:element name="YearsOfWorkExperience" type="xs:int" minOccurs="0" />
							<xs:element name="MonthsOfManagementExperience" type="xs:int" minOccurs="0" />
							<xs:element name="YearsOfManagementExperience" type="xs:int" minOccurs="0" />
							<xs:element name="CurrentManagementLevel" type="tns:CurrentManagementLevelType" minOccurs="0" />
							<xs:element name="HighestManagementScore" type="xs:int" minOccurs="0"/>
							<xs:element name="ExecutiveType" type="tns:ExecutiveTypeType" minOccurs="0" />
							<xs:element name="ManagementStory" type="xs:string" minOccurs="0" />
							<xs:element name="BestFitTaxonomies" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BestFitTaxonomy" type="tns:BestFitTaxonomyType" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TrainingHistory" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Text" type="xs:string" minOccurs="0"/>
							<xs:element name="Training" type="tns:TrainingType" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Hobbies" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Text" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Sections" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Section" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="starts" type="xs:int" use="required" />
											<xs:attribute name="ends" type="xs:int" use="required" />
											<xs:attribute name="sectionType" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CustomData" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CustomDataMatch" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="type" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CoverLetterText" type="xs:string" minOccurs="0"/>
				<xs:element name="ParsedTextLength" type="xs:int"/>
				<xs:element name="SearchHints" type="xs:string" minOccurs="0"/>
				<xs:element name="ParseTime" type="xs:int" minOccurs="0"/>
				<xs:element name="TimedOut" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:int">
								<xs:attribute name="type" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="hard"/>
											<xs:enumeration value="soft"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="ParserConfigurationString" type="xs:string" minOccurs="0"/>
				<xs:element name="ParserVersion" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="BestFitTaxonomyType">
		<xs:sequence>
			<xs:element name="BestFitTaxonomy" type="tns:BestFitTaxonomyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required" />
		<xs:attribute name="rootId" type="xs:string" use="required" />
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="weight" type="xs:double" use="required" />
		<xs:attribute name="percentOfOverall" type="xs:double" use="required" />
		<xs:attribute name="percentOfParent" type="xs:double" use="required" />
	</xs:complexType>

</xs:schema>